body {
    margin: 0;
    padding: 0;
    height: 100%;
    height: 0%;
    background-color: #cccccc;
    background-image: linear-gradient(black, red);
}

html,
body {
    margin: 0;
    padding: 0%;
    height: 100%;
}

.container {
    height: 0%;
    background-color: #cccccc;
    background-image: radial-gradient(black, red);
}

.image-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    color: wheat;
    text-align: center;
    color: #A7DD3C;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77, 25, 0, 0.5), 9px 0 18px #FFD500, 11px 0 18px #806A00, 12px 2px 18px rgba(77, 66, 0, 0.5), 12px 0 30px #D4FF00, 14px 0 30px #6A8000, 15px 2px 30px rgba(64, 77, 0, 0.5), 15px 0 45px #80FF00, 17px 0 45px #408000, 17px 2px 45px rgba(38, 77, 0, 0.5);
    color: #A7DD3C;

}

p,
h2 {
    text-align: center;
    color: lightcoral;

}


.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}

section,
p {
    font-family: 'Archivo Black', sans-serif;
    font-family: 'Belanosima', sans-serif;
    font-family: 'Caprasimo', cursive;
    font-family: 'Kaushan Script', cursive;
    font-family: 'Rubik Dirt', cursive;

}

img {
    width: 225px;
}

a {
    color: hotpink;
}

button {
    background-color: white;
    width: 100px;
    height: 150px;
    background-position: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 20px;
    box-sizing: border-box;
  }